<meta charset="utf-8" />
<title>Metronic | Calendar</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="Admin/css/global/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="Admin/css/global/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="Admin/css/global/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--<link href="Admin/css/global/uniform.default.css" rel="stylesheet" type="text/css" />-->
<!--<link href="Admin/css/global/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />-->
<!--&lt;!&ndash; END GLOBAL MANDATORY STYLES &ndash;&gt;-->
<!--&lt;!&ndash; BEGIN PAGE LEVEL PLUGINS &ndash;&gt;-->
<!--<link href="Admin/css/global/fullcalendar.min.css" rel="stylesheet" type="text/css" />-->
<!--&lt;!&ndash; END PAGE LEVEL PLUGINS &ndash;&gt;-->
<!--&lt;!&ndash; BEGIN THEME GLOBAL STYLES &ndash;&gt;-->
<!--<link href="Admin/css/global/components.min.css" rel="stylesheet" id="style_components" type="text/css" />-->
<!--<link href="Admin/css/global/plugins.min.css" rel="stylesheet" type="text/css" />-->
<!--&lt;!&ndash; END THEME GLOBAL STYLES &ndash;&gt;-->
<!--&lt;!&ndash; BEGIN THEME LAYOUT STYLES &ndash;&gt;-->
<!--<link href="Admin/css/global/layout.min.css" rel="stylesheet" type="text/css" />-->
<!--<link href="Admin/css/global/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />-->
<!--&lt;!&ndash;<link href="Admin/css/global/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />&ndash;&gt;-->
<!--&lt;!&ndash;<link href="Admin/css/global/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />&ndash;&gt;-->
<!--&lt;!&ndash;<link href="Admin/css/global/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />&ndash;&gt;-->
<!--<link href="Admin/css/global/custom.min.css" rel="stylesheet" type="text/css" />-->
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico" />